section.download-section.section-padding.p-b-0 {
    padding-bottom: 0;
}
.testimonial-area .owl-nav button {
    top: calc(40% - 25px);
}
.testimonial-area .owl-nav button > * {
    font-size: 36px!important;
}